<h3>Agragar <small>{{ nuevo.nombre }}</small></h3> <!-- Exprecion-->
        <hr>

        <form (ngSubmit)="agregar(  )"> <!-- EVENTO -->
            <input 
            type="text" 
            placeholder="Nombre de personaje"
            name="nombre"
        
            [(ngModel)]="nuevo.nombre" 
             />
             <!-- [value]="nuevo.nombre"
             (input)="cambiarNombre ( $event )" -->
            <input 

            type="number" 
            placeholder="Poder" 
            name="poder"
            [(ngModel)]="nuevo.poder" 

            />

            <button type="submit">
                Agregar
            </button>
        </form>